/* -----------------------------------------------------------------------------
-- // SALTY BET USER STYLE
----------------------------------------------------------------------------- */

#stream {
  top: 43px !important;
  right: 30% !important;
  bottom: 220px !important;
  left: 0 !important;
  width: 70% !important;
  max-width: none !important;
}

#chat-wrapper {
  top: 0 !important;
  width: 30% !important;
  height: 60% !important;
  margin-top: 43px !important;
  font-size: 12px !important;
}

#sbettorswrapper {
  position: absolute !important;
  top: 60% !important;
  bottom: 220px !important;
  left: 70% !important;
  margin-top: 40px !important;
  width: 30% !important;
  font-size: 14px !important;
}

#bottomcontent {
  right: 30% !important;
  bottom: 43px !important;
  left: 0 !important;
  width: 100% !important;
}
